@font-face {
    font-family: "LatoT";
    src: url("../font/Lato-Thin.woff2") format("woff2"), url("../font/Lato-Thin.woff") format("woff");
}

@font-face {
    font-family: "LatoR";
    src: url("../font/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
}

@font-face {
    font-family: "LatoB";
    src: url("../font/Lato-Bold.woff2") format("woff2"), url("../font/Lato-Bold.woff") format("woff");
}

@font-face {
    font-family: "LatoBl";
    src: url("../font/Lato-Black.woff2") format("woff2"), url("../font/Lato-Black.woff") format("woff");
}

@font-face {
    font-family: "RalewayR";
    src: url("../font/Raleway-Regular.woff2") format("woff2"), url("../font/Raleway-Regular.woff") format("woff");
}

@font-face {
    font-family: "RalewayB";
    src: url("../font/Raleway-Bold.woff2") format("woff2"), url("../font/Raleway-Bold.woff") format("woff");
}

@font-face {
    font-family: "RalewayEB";
    src: url("../font/Raleway-ExtraBold.woff2") format("woff2"), url("../font/Raleway-ExtraBold.woff") format("woff");
}