extends layout/app

block page 
    include chunk/header

    h1.title Главная 555555555

    img(src="img/Тестовое_1.png", alt="Картинка", width="500")

    ul.news 
        each item in news 
            li= item.name

    include chunk/footer