@charset "UTF-8";

/* button */

/* button end */

/* header */

/* header end */

/* footer */

/* footer end */

/* logo */

/* logo end */

/**
 * Сброс стилей
 **/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

@font-face {
  font-family: "LatoT";
  src: url("../font/Lato-Thin.woff2") format("woff2"), url("../font/Lato-Thin.woff") format("woff");
}

@font-face {
  font-family: "LatoR";
  src: url("../font/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
}

@font-face {
  font-family: "LatoB";
  src: url("../font/Lato-Bold.woff2") format("woff2"), url("../font/Lato-Bold.woff") format("woff");
}

@font-face {
  font-family: "LatoBl";
  src: url("../font/Lato-Black.woff2") format("woff2"), url("../font/Lato-Black.woff") format("woff");
}

@font-face {
  font-family: "RalewayR";
  src: url("../font/Raleway-Regular.woff2") format("woff2"), url("../font/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-family: "RalewayB";
  src: url("../font/Raleway-Bold.woff2") format("woff2"), url("../font/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: "RalewayEB";
  src: url("../font/Raleway-ExtraBold.woff2") format("woff2"), url("../font/Raleway-ExtraBold.woff") format("woff");
}

html {
  height: 100%;
}

body {
  font: 400 16px/1.2em "LatoR";
  background: #3D4050;
  color: #fff;
  height: 100%;
}

button {
  font: 15px/40px "LatoR";
  text-align: center;
  background: #3E9CDC;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  width: 150px;
}

.button_white {
  color: #fff;
  background: #fff;
  color: #2A2B30;
  border: 1px solid #6F6D7B;
}

.container {
  position: relative;
  z-index: 2;
  display: table;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container .header {
  display: table-row;
  position: relative;
}

.container .main {
  display: table-row;
  position: relative;
  z-index: 10;
  height: 100%;
  background: #272733 url("../img/map.png") no-repeat center top;
  vertical-align: top;
}

.container .footer {
  display: table-row;
  background: #3D4050;
}

.header {
  position: relative;
}

.header__header-img {
  position: relative;
  z-index: 1;
}

.header__header-fixed {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 20;
}

header {
  background: #10101D;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100px;
  position: relative;
  max-width: 1920px;
  top: 0px;
  z-index: 10;
}

.header__logo {
  font: 800 28px RalewayB;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 20%;
}

.header__logo span {
  color: #43ABF0;
}

.header__header_menu {
  width: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 19%;
}

.header__header_menu li {
  text-transform: uppercase;
  font-size: 13px;
}

.header__header_menu li a {
  font: 13px "LatoB";
  text-decoration: none;
  color: #fff;
}

.header__header_menu li a.active {
  color: #43ABF0;
}

.promo {
  display: block;
  width: 50%;
  position: absolute;
  top: 24%;
  left: 20%;
  z-index: 10;
  color: #272733;
}

.promo__h1 {
  font: 48px/1.2em "LatoR";
  color: #43ABF0;
  text-transform: uppercase;
}

.promo__h1 span {
  color: #272733;
}

.promo__promo-text {
  margin-top: 10%;
  padding-left: 10px;
}

.promo__promo-text p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
}

.promo__promo-text ul {
  margin: 5px 0 0 10px;
}

.promo__promo-text ul li {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
}

.promo__promo-text ul li::before {
  content: " - ";
}

.promo__promo-buttons {
  margin-top: 8%;
}

.promo__promo-buttons button {
  width: 180px;
  margin-right: 20px;
}

.content {
  min-height: 300px;
  width: 60%;
  margin: 0 auto;
}

.content h1 {
  font: 36px "LatoBl";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 11%;
}

.content h1 span {
  color: #43ABF0;
}

.content h3 {
  font-size: 18px;
  text-align: center;
  margin-top: 3%;
}

.content__order_steps {
  margin-top: 6%;
  margin-bottom: 7%;
  position: relative;
}

.content__order_steps__bullets {
  position: relative;
  top: 54px;
  height: 6px;
  width: 90%;
  z-index: 1;
  margin: 0 auto;
  z-index: 1;
  background: url("../img/bullets_2.png") repeat-x center center;
}

.content__order_steps__list {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content__order_steps__list li {
  width: 209px;
  text-align: center;
}

.content__order_steps__list li a {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  background: url("../img/ellipse.png") no-repeat center center;
}

.content__order_steps__list li a img {
  position: relative;
  top: 23px;
}

.content__order_steps__list li p {
  margin-top: 9%;
}

.content__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.content__form form input {
  font-size: 18px;
}

.content__form form select {
  font-size: 18px;
}

.content__form__form-item {
  position: relative;
  width: 32%;
  height: 52px;
  margin-bottom: 30px;
}

.content__form__form-item_2 {
  position: relative;
  width: 66%;
  height: 52px;
  margin-bottom: 30px;
}

.content__form__form-item:last-child {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 2%;
}

.content__form__field {
  border: 1px solid #fff;
  width: 100%;
  height: 48px;
  border-radius: 3px;
}

.content__form__select_field {
  height: 52px;
  width: 102%;
}

.content__form__file-field-fake {
  position: absolute;
  z-index: 1;
  width: 100%;
  line-height: 48px;
  text-align: center;
  border-radius: 3px;
  background: #fff;
  color: #272733;
  border: 2px solid #3E9CDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content__form__file-field-fake img {
  position: relative;
  top: 4px;
  left: -3px;
}

.content__form .file-added div {
  display: block;
  text-align: left;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.content__form__file-field {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 48px;
  border-radius: 3px;
  opacity: 0;
}

.content__form #rangeText {
  float: right;
}

.content__form #rangeText::after {
  content: " %";
}

.content__form button {
  width: 30%;
}

footer {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer span {
  -ms-flex-item-align: center;
  align-self: center;
}

.footer__delim-1 {
  display: none;
}

.footer__delim-2 {
  display: unset;
}

.footer__delim-3 {
  display: unset;
}

.footer__copy {
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0 20px 0 20%;
  font-size: 13px;
  color: #fff;
  white-space: nowrap;
}

.footer__money {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__money a {
  position: relative;
  margin: 0 15px;
  font-size: 13px;
  color: #fff;
  white-space: nowrap;
}

.footer__money a img {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.footer__contacts {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-self: center;
  margin-right: 19%;
}

.footer__contacts a {
  position: relative;
  margin: 0 15px;
  font-size: 13px;
  color: #fff;
  white-space: nowrap;
}

.footer__contacts a img {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

@supports (-webkit-appearance:none) {
  .container .main {
    background: #272733 url("../img/map.webp") no-repeat center top;
  }

  .content__order_steps__bullets {
    background: url("../img/bullets_2.webp") repeat-x center center;
  }

  .content__order_steps__list li a {
    background: url("../img/ellipse.webp") no-repeat center center;
  }
}

@media (max-width: 1600px) {
  .header__logo {
    margin-left: 10%;
  }

  .header__header_menu {
    margin-right: 10%;
    width: 300px;
  }

  .promo__promo-text {
    margin-top: 3%;
  }

  .promo__promo-buttons {
    margin-top: 2%;
  }

  .content {
    width: 70%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1200px) {
  header {
    height: 70px;
  }

  .promo__h1 {
    font-size: 30px;
  }

  .promo {
    left: 10%;
    width: 70%;
  }

  .content__order_steps__bullets {
    display: none;
  }

  .content__order_steps__list li p {
    padding-left: 10px;
    width: inherit;
  }

  .content__order_steps__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    padding-bottom: 10px;
  }

  .content__order_steps__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .content {
    width: 80%;
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__delim-1 {
    display: none;
  }

  .footer__delim-2 {
    display: none;
  }

  .footer__delim-3 {
    display: none;
  }

  .footer__copy {
    margin: 10px 0 10px 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer__money {
    margin: 0;
  }

  .footer__contacts {
    margin: 5px 0;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 800px) {
  .header__logo {
    margin-left: 5%;
    font-size: 20px;
  }

  .header__header_menu {
    margin-right: 5%;
    width: 300px;
  }

  .promo__h1 {
    font-size: 24px;
  }

  .promo__promo-text p {
    font-size: 16px;
  }

  .promo__promo-text ul li {
    font-size: 16px;
  }

  .content__form__form-item {
    width: 48%;
  }

  .content__form__form-item_2 {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 700px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 70px;
  }

  .header__logo {
    margin: 0;
  }

  .header__header_menu {
    margin: 0;
  }

  .promo__h1 {
    font-size: 20px;
  }

  .promo__promo-text {
    display: none;
  }

  .promo__promo-buttons button {
    width: 150px;
    line-height: 30px;
  }

  .promo {
    padding-top: 40px;
    left: 3%;
    width: 75%;
  }

  .content h1 {
    font-size: 30px;
  }

  .content__form button {
    width: 50%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 550px) {
  .promo__h1 {
    font-size: 16px;
  }

  .promo__h1 {
    font-size: 13px;
  }

  .promo__promo-buttons button {
    width: 130px;
    margin: 0;
    line-height: 20px;
  }

  .promo__promo-buttons {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 300px;
  }

  .promo {
    padding-top: 40px;
    left: 3%;
    width: 65%;
  }

  .content h1 {
    font-size: 24px;
  }

  .content h1 {
    font-size: 20px;
  }

  .content__order_steps__list li a {
    background: none;
    height: 50px;
  }

  .content__order_steps__list li p {
    width: 65%;
  }

  .content__order_steps__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-bottom: 10px;
  }

  .content__form__form-item {
    width: 100%;
  }

  .footer__money a {
    margin: 0 5px;
  }

  .footer__money a {
    margin: 0 2px;
  }

@supports (-webkit-appearance:none) {

}
}